.Home {
  width: 100%;
  height: auto;
  max-width: 1600px;
  margin: 0 auto;
  .Home__container {
    width: 100%;
    // max-width: 1200px;
    margin: 0 auto;
    .first {
      width: 100%;
      height: 840px;
      background: linear-gradient(107.56deg, #f4f6f8 0%, #f8fbff 100%);
      border-radius: 0px 0px 40px 40px;
      display: flex;
      margin: 0 auto;
      
      .expresscredit {
        width: 100%;
        height: 500px;
        gap: 25px;
        margin-top: 128px;
        .instant{
          margin-left: 155px;
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          line-height: 41px;
          color: #0F6DFF;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
        .expressloan{
          margin-left: 155px;
          font-style: normal;
          font-weight: 800;
          font-size: 44px;
          line-height: 66px;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          color: #101420;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
        .convenience{
          margin-left: 155px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #848BA4;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
        .whitepart{
          width: 481px;
          height: 302px;
          margin-left: 155px;
          background: #101420;
        }
      }
      .expressimages {
        width: 100%;
        height: 900px;
        margin-left: -280px;
        margin-top: -60px;
        background-image: url(../../assets/images/img.png);
        .clients{
          display: grid;
          align-items: center;
          width: 152px;
          height: 73px;
          margin-left: 17%;
          margin-top: 170.18px;
          background: #FFFFFF;
          border: 1px solid #E7ECF4;
          box-shadow: 0px 10px 30px rgba(33, 58, 97, 0.06);
          border-radius: 12px;
          transform: rotate(-11.4deg);
          z-index: 10;

          .quantity{
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 31px;
            letter-spacing: 0.01em;
            color: #0F6DFF;
            margin-left: 11px;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
          .satisfied{
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.01em;
            color: #262B40;
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
        .approveapplication{
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px;
          gap: 5px;
          width: 163px;
          height: 73px;
          margin-left: 76%;
          margin-top: -95px;
          background: #FFFFFF;
          border: 1px solid #E7ECF4;
          box-shadow: 0px 10px 30px rgba(27, 69, 134, 0.06);
          border-radius: 12px;
          transform: rotate(10.27deg);
          .approvetxt{
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            letter-spacing: 0.01em;
            color: #8899B4;
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
        .firstimg {
          margin-left: -60px;
          margin-top: -60px;
        }

      }
    }
    .ratespart{
      display: grid;
      justify-content: center;
      margin-top: 85px;
      width: 100%;
      .zagolovok{
        text-align: center;
        .rates{
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 55px;
          letter-spacing: 0.01em;
          flex: none;
          order: 0;
          flex-grow: 0;
        }        
      }
      .options{
        display: flex;
        width: 1200px;
        gap: 60px;
        .base{
          display: inline-block;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 360px;
          height: 594px;
          background: linear-gradient(107.62deg, #F3F6FF 0%, #DDE8F8 100%);
          border-radius: 24px;
          flex: none;
          order: 0;
          flex-grow: 0;
          .basehead{
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 41px;
            letter-spacing: 0.01em;
            color: #262B40;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin-top: 25px;
          }
          .baseimg{
            margin-top: 25px;
          }
          .basetxt{
            font-style: normal;
            font-size: 18px;
            margin-top: 20px;
            line-height: 41px;
            letter-spacing: 0.01em;
            color: rgba(132, 139, 164, 1);
            flex: none;
            order: 0;
            flex-grow: 0;
          }
          .toreturn{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #848BA4;
            flex: none;
            order: 3;
            flex-grow: 0;
            margin-top: 20px;
          }
          
        }
        .standard{
          display: inline-block;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 360px;
          height: 594px;
          background: linear-gradient(90.74deg, #0F6DFF 0%, #005CEA 100%);
          border-radius: 24px;
          .standardhead{
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 41px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin-top: 25px;
          }
          .standardimg{
            margin-top: 25px;
            width: 100%;
            margin-left: -1.5px;
          }
          .standardtxt{
            font-style: normal;
            font-size: 18px;
            margin-top: 20px;
            line-height: 41px;
            letter-spacing: 0.01em;
            color: #11346A;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
          .toreturn{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #11346A;
            flex: none;
            order: 3;
            flex-grow: 0;
            margin-top: 20px;
          }
        }
        .premium{
          display: inline-block;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 360px;
          height: 594px;
          background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
          border-radius: 24px;
          .premiumhead{
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 41px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin-top: 25px;
          }
          .premiumimg{
            margin-top: 25px;
            width: 100%;
            margin-left: -1.5px;
          }
          .premiumtxt{
            font-style: normal;
            font-size: 18px;
            margin-top: 20px;
            line-height: 41px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
          .toreturn{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            flex: none;
            order: 3;
            flex-grow: 0;
            margin-top: 20px;
          }
        }
      }

    }
    .advantages{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 30px;
      gap: 40px;
      position: absolute;
      width: 1180px;
      height: 532.5px;
      margin-left: 155px;
      top: 1774.16px;
      background: #FFFFFF;
      border: 1px solid #E8ECF8;
      box-shadow: 0px 205px 82px rgba(27, 36, 80, 0.01), 0px 115px 69px rgba(27, 36, 80, 0.03), 0px 51px 51px rgba(27, 36, 80, 0.04), 0px 13px 28px rgba(27, 36, 80, 0.05), 0px 0px 0px rgba(27, 36, 80, 0.05);
      border-radius: 40px;
      .advantzagalovka{
        align-items: center;
        text-align: center;
        width: 299px;
        height: 122.5px;
        flex: none;
        order: 0;
        flex-grow: 0;
        .advanthead{
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 55px;
          letter-spacing: 0.01em;
          color: #010B2E;
          flex: none;
          order: 0;
          flex-grow: 0;
        }
        .ourproducts{
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 25px;
          /* identical to box height */
          
          letter-spacing: 0.01em;
          
          /* #8899B4 */
          
          color: #8899B4;
          
          
          /* Inside auto layout */
          
          flex: none;
          order: 2;
          flex-grow: 0;
        }
      }
      .tags{
        width: 1180px;
        gap: 50px;
        margin-left: 50px;
        display: flex;
        .momentalno{
          width: 350px;
          display: grid;
          .energytxt{
            margin-left: 52px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            
            /* #8899B4 */
            
            color: #8899B4;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
        .shield{
          width: 350px;
          display: grid;
          .shieldtxt{
            margin-left: 52px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            
            /* #8899B4 */
            
            color: #8899B4;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
        .sber{
          display: grid;
          width: 350px;
          .sbertxt{
            margin-left: 52px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            
            /* #8899B4 */
            
            color: #8899B4;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }

      }
      .tags2{
        width: 1180px;
        gap: 50px;
        margin-left: 50px;
        display: flex;
        .rubl{
          width: 350px;
          display: grid;
          .rubltxt{
            margin-left: 52px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            
            /* #8899B4 */
            
            color: #8899B4;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
        .heart{
          width: 350px;
          display: grid;
          .hearttxt{
            margin-left: 52px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            
            /* #8899B4 */
            
            color: #8899B4;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
        .like{
          width: 350px;

          display: grid;
          .liketxt{
            margin-left: 52px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            
            /* #8899B4 */
            
            color: #8899B4;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }
      }
    }
    .howitworks{
      max-width: 1600px;
      width: 100%;
      height: 783.79px;
      margin-top: 350px;
      border-radius: 40px;
      display: grid;
      justify-content: center;
      align-items: center;
      background: linear-gradient(107.56deg, #F4F6F8 0%, #F8FBFF 100%);
      .howitworks_container{
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        .howitworkzagolovka{
          width: 341px;
          height: 122.5px;
          text-align: center;
          margin-top: 300px;
          ._head{
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 55px;
            letter-spacing: 0.01em;
            color: #262B40;
            flex: none;
            order: 0;
            flex-grow: 0;
          }
          .getmoney{
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.01em;
            color: #848BA4;
            flex: none;
            order: 2;
            flex-grow: 0;
          }
        }
      }
      .sequence{
        width: 100%;
        display: flex;
        gap: 17px;
        .applied{
          width: 360px;
          height: 425.63px;
          top: 90px;
          position: relative;
          .appliedimg{
            left: 45px;
            position: absolute;
            img{
              width: 270px;
              height: 270px;
            }
          }
          .decor{
            width: 360px;
            height: 282px;
            background: #141927;
            border-radius: 24px;
            margin-top: 142px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            .makerequest{
              position: absolute;
              font-style: normal;
              font-weight: 600;
              font-size: 30px;
              top: 280px;
              line-height: 41px;
              letter-spacing: 0.01em;
              color: #FFFFFF;

            }
            .instantly{
              position: absolute;
              top: 330px;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              letter-spacing: 0.01em;
              
              color: #848BA4;
            }
          }
        }
        .arrow{
          margin-top: 280px;
        }

      }
    }
    .convenient_way{
      width: 100%;
      height: auto;
      margin-top: 250px;
      justify-content: center;
      display: grid;
      .convenientway__container{
        width: 100%;
        max-width: 1200px;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        .way_left{
          width: 488px;
          height: 100%;
          background: linear-gradient(107.56deg, #F4F6F8 0%, #F8FBFF 100%); 
          border-radius: 40px 0px 0px 40px;
          .left_container{
            margin-top: 62px;
            margin-left: 54px;

            .getwayhead{
              font-style: normal;
              font-weight: 600;
              font-size: 40px;
              line-height: 55px;
              letter-spacing: 0.01em;
              color: #262B40;
              flex: none;
              order: 0;
              flex-grow: 0;
            }
            .aboutcarts{
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: #8899B4;
              flex: none;
              order: 2;
              flex-grow: 0;
              margin-top: 20px;
            }
          }
        }
        .way_right{
          width: 712px;
          height: 100%;
          background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
          border-radius: 0px 40px 40px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          .right_container{
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
          }
        }
      }
    }
    .loan {
      margin-top: 131px;
      width: 100%;
      height: 367px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .loan_inner {
        width: 100%;
        max-width: 1200px;
        height: 367px;
        left: 200px;
        top: 2974.5px;
        background: linear-gradient(90.74deg, #0f6dff 0%, #005cea 100%);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .inner_wrapper {
          width: 87%;
          height: 100%;
          display: flex;
          align-items: center;

          .inner_left {
            width: 55%;
            height: 100%;
            margin-top: 65px;

            h3 {
              font-style: normal;
              font-weight: 600;
              font-size: 40px;
              line-height: 55px;
              letter-spacing: 0.01em;
              color: #FFFFFF;
              flex: none;
              order: 0;
              margin-top: 10px;
            }
            p {
              margin-top: 20px;
              font-style: normal;
              font-weight: 500;
              font-size: 30px;
              line-height: 41px;
              letter-spacing: 0.01em;
              color: #FFFFFF;
              flex: none;
              order: 1;
              flex-grow: 0;
            }
            .send_request {
              margin-top: 25px;
              width: 370px;
              height: 60px;
              border: 1px solid #222738;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 22px;
              .send {
                text-transform: uppercase;
                gap: 15px;
                width: 97%;
                height: 50px;
                color: #fff;
                background: linear-gradient(
                  153.6deg,
                  #222738 0%,
                  #131724 81.94%,
                  #101420 100%
                );
                border-radius: 16px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
          .inner_right {
            width: 500px;
            height: 500.15px;

            img {
              width: 500px;
              height: 500px;
            }
          }
        }
      }
    }
    .liveefir{
      width: 100%;
      height: 800px;
      background: linear-gradient(107.62deg, #F3F6FF 0%, #BFCEE2 100%);
      border-radius: 40px 40px 0px 0px;
      margin-top: 136px;
      display: flex;
      justify-content: center;

      .live__container{
        max-width: 1200px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background: url(../../assets/images/map.png);
        display: flex;
        justify-content: space-between;
        .left_live{
          width: 451px;
          height: 624px;
          margin-top: 51px;
          .leftlive__container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 100%;
            height: 100%;
            .workservice{
              font-style: normal;
              font-weight: 600;
              font-size: 40px;
              line-height: 45px;
              letter-spacing: 0.01em;
              
              /* Linear */
              
              background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
              
              
              /* Inside auto layout */
              
              flex: none;
              order: 0;
              flex-grow: 0;
            }
            .firstclient{
              width: 295px;
              height: 101px;
              .firstclient__container{
                width: 100%;
                height: 100%;
                display: grid;
                gap: 15px;
                p{
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 22px;
                  /* identical to box height */
                  
                  letter-spacing: 0.01em;
                  
                  /* #8899B4 */
                  
                  color: #8899B4;
                  
                  
                  /* Inside auto layout */
                  
                  flex: none;
                  order: 0;
                  flex-grow: 0;
                }
                div{
                  display: flex;
                  gap: 20px;
                  .getzaym{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                    letter-spacing: 0.01em;
                    
                    /* Linear */
                    
                    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                  }
                }
                div{
                  display: flex;
                  gap: 15px;
                  .minute{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */
                    
                    letter-spacing: 0.01em;
                    
                    /* #8899B4 */
                    
                    color: #8899B4;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                  }
                  p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */
                    
                    letter-spacing: 0.01em;
                    
                    /* #8899B4 */
                    
                    color: #8899B4;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                  }
                }

              }
            }
            .secondclient{
              width: 451px;
              height: 101px;
              .secondclient__container{
                width: 100%;
                height: 100%;
                display: grid;
                gap: 15px;
                p{
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 22px;
                  /* identical to box height */
                  
                  letter-spacing: 0.01em;
                  
                  /* #8899B4 */
                  
                  color: #8899B4;
                  
                  
                  /* Inside auto layout */
                  
                  flex: none;
                  order: 0;
                  flex-grow: 0;
                }
                div{
                  display: flex;
                  gap: 20px;
                  .getzaym{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                    letter-spacing: 0.01em;
                    
                    /* Linear */
                    
                    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                  }
                }
                div{
                  display: flex;
                  gap: 15px;
                  .minute{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */
                    
                    letter-spacing: 0.01em;
                    
                    /* #8899B4 */
                    
                    color: #8899B4;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                  }
                  p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */
                    
                    letter-spacing: 0.01em;
                    
                    /* #8899B4 */
                    
                    color: #8899B4;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                  }
                }

              }
            }
            .thirdclient{
              width: 451px;
              height: 101px;
              .thirdclient__container{
                width: 100%;
                height: 100%;
                display: grid;
                gap: 15px;
                p{
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 22px;
                  /* identical to box height */
                  
                  letter-spacing: 0.01em;
                  
                  /* #8899B4 */
                  
                  color: #8899B4;
                  
                  
                  /* Inside auto layout */
                  
                  flex: none;
                  order: 0;
                  flex-grow: 0;
                }
                div{
                  display: flex;
                  gap: 20px;
                  .getzaym{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                    letter-spacing: 0.01em;
                    
                    /* Linear */
                    
                    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                  }
                }
                div{
                  display: flex;
                  gap: 15px;
                  .minute{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */
                    
                    letter-spacing: 0.01em;
                    
                    /* #8899B4 */
                    
                    color: #8899B4;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                  }
                  p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */
                    
                    letter-spacing: 0.01em;
                    
                    /* #8899B4 */
                    
                    color: #8899B4;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                  }
                }

              }
            }
            .fourthclient{
              width: 451px;
              height: 101px;
              .fourthclient__container{
                width: 100%;
                height: 100%;
                display: grid;
                gap: 15px;
                p{
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 22px;
                  /* identical to box height */
                  
                  letter-spacing: 0.01em;
                  
                  /* #8899B4 */
                  
                  color: #8899B4;
                  
                  
                  /* Inside auto layout */
                  
                  flex: none;
                  order: 0;
                  flex-grow: 0;
                }
                div{
                  display: flex;
                  gap: 20px;
                  .getzaym{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                    letter-spacing: 0.01em;
                    
                    /* Linear */
                    
                    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                  }
                }
                div{
                  display: flex;
                  gap: 15px;
                  .minute{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */
                    
                    letter-spacing: 0.01em;
                    
                    /* #8899B4 */
                    
                    color: #8899B4;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                  }
                  p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height */
                    
                    letter-spacing: 0.01em;
                    
                    /* #8899B4 */
                    
                    color: #8899B4;
                    
                    
                    /* Inside auto layout */
                    
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                  }
                }

              }
            }
          }
        }
        .right_live{
          width: 481px;
          height: 578px;
          margin-top: 51px;
          .rightlive__container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            gap: 20px;
            width: 100%;
            height: 100%;
          }
        }
      }
      
    }
  }
}
